{% load widget_tweaks %}
{{ form.media }}
{% for field in form %}

{% if field.label != "Select VM Name(s)"%}
  <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
      {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  </div>
{% else %}

<div >
  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }}
    {% for error in field.errors %}
    <p class="help-block">{{ error }}</p>
  {% endfor %}
</div>

{% endif %}
{% endfor %}


