{% extends 'base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static "/js/home.js" %}"></script>
{% endblock %}

{% block content %}
{% include 'nav.html' %}
<div class="row">
    <div class="col-md-12">
        <h2>Authorization Error</h2>
        <div class="form-group">
            <div class="form-group">
                <label class="col-sm-4 control-label">Type:</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{ type }}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label">Message:</label>
                <div class="col-sm-8">
                    <p id="mobilePhone" class="form-control-static">{{ message }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}